<?xml version="1.0" encoding="UTF-8"?>
<?define Name = "Udyn Windows Service" ?>
<?define Manufacturer = "Udyn" ?>
<?define Version = "0.5.1" ?>
<?define UpgradeCode = "{0E8BD9FE-966F-434B-98C8-6F67D26CC312}" ?>
<?define ConfigFile = "udynconfig.json"?>
<?define CustomActionDll = "UdynWixInstaller_CreateConfigCA.CA.dll"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product 
    Id="{0A0E29BB-CEF1-4A10-A255-0DE4BFEAF2A6}"
    Name="$(var.Name)"
    Manufacturer="$(var.Manufacturer)"
    UpgradeCode="$(var.UpgradeCode)" 
    Version="$(var.Version)" Language="1033">
    
    <Package
      Id="*"
      Keywords="Installer"
      Description="Udyn Windows Service 0.5.0 Installer"
      InstallerVersion="300"
      Compressed="yes"/>
    <Media Id="1" Cabinet="UdynWindowsService.cab" EmbedCab="yes" />
    <MajorUpgrade DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit." />
  
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="ROOTDIRECTORY" Name="$(var.Manufacturer)">
          <Directory Id="INSTALLFOLDER" Name="$(var.Name)" />
        </Directory>
      </Directory>
    </Directory>

    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="$(var.UdynWindowsService.TargetFileName)" Guid="{F3CDE8E9-CFF3-4B69-8899-F2B542955603}">
        <File Id="$(var.UdynWindowsService.TargetFileName)" Source="$(var.UdynWindowsService.TargetPath)" KeyPath="yes" />
        <RemoveFile Id="exe" Name="$(var.UdynWindowsService.TargetFileName)" On="both" />
        <RemoveFile Id="ALLFILES" Name="*" On="uninstall" />
        <ServiceInstall Id="ServiceInstaller"
          Type="ownProcess"
          Name="UdynWindowsService"
          DisplayName="Udyn DDNS updater"
          Description="Udyn DDNS updater service that periodically updates your Dynamic DNS."
          Start="auto"
          ErrorControl="normal" />
        <ServiceControl Id="StartService" Start="install" Stop="both" Remove="uninstall" Name="UdynWindowsService" Wait="yes" />
      </Component>
    </DirectoryRef>
    <Feature Id="Complete" Title="The complete Udyn Windows Service package." Level="1"
             Display="expand" ConfigurableDirectory="INSTALLFOLDER" Absent="disallow"
             InstallDefault="local" AllowAdvertise="no">
      <ComponentRef Id="$(var.UdynWindowsService.TargetFileName)" />
    </Feature>
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <Property Id="CONFIGFILE" Value="[INSTALLFOLDER]$(var.ConfigFile)" />
    
    <UI Id="CustomWixUI_InstallDir">
      <UIRef Id="WixUI_InstallDir"/>

      <DialogRef Id="CustomConfigDlg"/>
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="CustomConfigDlg">NOT Installed</Publish>

      <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="CustomConfigDlg">1</Publish>
    </UI>

    <Binary Id="CreateConfigCA.dll"
        src="$(var.UdynWixInstaller_CreateConfigCA.TargetDir)\$(var.CustomActionDll)" />

    <CustomAction Id="CreateConfigCA"
                  Return="check"
                  Execute="immediate"
                  BinaryKey="CreateConfigCA.dll"
                  DllEntry="CreateConfigFile" />

    <InstallExecuteSequence>
      <Custom Action="CreateConfigCA" Before="InstallFinalize" />
    </InstallExecuteSequence>
  </Product>
</Wix>
