<?xml version="1.0" encoding="UTF-8"?>
<?define Name = "Udyn Windows Service" ?>
<?define Manufacturer = "Udyn" ?>
<?define Version = "0.5.1" ?>
<?define UpgradeCode = "{0E8BD9FE-966F-434B-98C8-6F67D26CC312}" ?>
<?define ConfigFile = "udynconfig.json"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product 
    Id="{EB893F94-A6F1-443B-98D5-991AC58CBF19}"
    Name="$(var.Name)"
    Manufacturer="$(var.Manufacturer)"
    UpgradeCode="$(var.UpgradeCode)" 
    Version="$(var.Version)" Language="1033">
    
    <Package
      Id="*"
      Keywords="Installer"
      Description="Udyn Windows Service 0.5.0 Installer"
      InstallerVersion="300"
      Compressed="yes"/>
    <Media Id="1" Cabinet="UdynWindowsService.cab" EmbedCab="yes" />
    <MajorUpgrade DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit." />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="ROOTDIRECTORY" Name="$(var.Manufacturer)">
          <Directory Id="INSTALLFOLDER" Name="$(var.Name)" />
        </Directory>
      </Directory>
    </Directory>

    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="$(var.UdynWindowsService.TargetFileName)" Guid="{F3CDE8E9-CFF3-4B69-8899-F2B542955603}">
        <File Id="$(var.UdynWindowsService.TargetFileName)" Source="$(var.UdynWindowsService.TargetPath)" KeyPath="yes" />
        <RemoveFile Id="exe" Name="$(var.UdynWindowsService.TargetFileName)" On="both" />
        <RemoveFile Id="ALLFILES" Name="*" On="uninstall" />
        <ServiceInstall Id="ServiceInstaller"
          Type="ownProcess"
          Name="UdynWindowsService"
          DisplayName="Udyn DDNS updater"
          Description="Udyn DDNS updater service that periodically updates your Dynamic DNS."
          Start="auto"
          ErrorControl="normal" />
        <ServiceControl Id="StartService" Start="install" Stop="both" Remove="uninstall" Name="UdynWindowsService" Wait="yes" />
      </Component>
      <Component Id ="$(var.ConfigFile)" Guid="{BEA1D5AB-3F36-47B6-9172-82E7B5D5C141}">
        <File Id="$(var.ConfigFile)" Source="$(var.UdynWindowsService.TargetDir)\$(var.ConfigFile)" KeyPath="yes" />
        <RemoveFile Id="config" Name="$(var.ConfigFile)" On="uninstall" />
      </Component>
    </DirectoryRef>
    <Feature Id="Complete" Title="The complete Udyn Windows Service package." Level="1">
      <ComponentRef Id="$(var.UdynWindowsService.TargetFileName)" />
      <ComponentRef Id="$(var.ConfigFile)" />
    </Feature>
  </Product>
</Wix>
